<div
    aria-hidden="true"
    aria-describedby="travel-dialog-description"
    aria-labelledby="travel-dialog-title"
    data-c-dialog
    data-c-dialog-id="travel-dialog"
    data-c-padding="top(double) bottom(double)"
    role="dialog">
    <div
        data-c-background="white(100)"
        data-c-radius="rounded"
        data-c-margin="bottom(double)">
        <div
            data-c-padding="tb(normal) right(triple) left(normal)"
            data-c-border="bottom(thin, solid, black)"
            data-c-background="c1(100)">
            <h5
                data-c-font-size="h4"
                id="travel-dialog-title"
                data-c-dialog-focus data-c-color="white">
                Add/Edit Foreign Travel
            </h5>
            <p data-c-margin="top(half)" data-c-color="white">Please complete all required sections of this form.</p>
            <button
                data-c-dialog-action="close"
                data-c-dialog-id="travel-dialog"
                type="button">
                <i class="material-icons" data-c-color="white">close</i>
            </button>
        </div>
        <div
            data-c-border="bottom(thin, solid, black)"
            data-c-padding="normal">
            <div id="reference-dialog-description">
                <form data-c-grid="gutter">
                    <div data-c-grid-item="base(1of1)">
                        <p data-c-font-weight="bold">Travel Information</p>
                    </div>
                    {# Surname #}
                    <div data-c-input="text" data-c-grid-item="tl(1of2)">
                        <label for="TI2">Country</label>
                        <span>Required</span>
                        <div>
                            <input id="TI2" placeholder="e.g. Estonia" required type="text" />
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    {# Start Date #}
                    <div data-c-input="date" data-c-grid-item="tl(1of4)">
                        <label for="DAT2">Start Date</label>
                        <span>Required</span>
                        <div>
                            <input id="DAT2" type="date" required placeholder="yyyy-mm-dd"/>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    {# End Date #}
                    <div data-c-input="date" data-c-grid-item="tl(1of4)">
                        <label for="DAT2">End Date</label>
                        <span>Required</span>
                        <div>
                            <input id="DAT2" type="date" required placeholder="yyyy-mm-dd"/>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    {# Purpose #}
                    <div data-c-input="textarea" data-c-grid-item="base(1of1)">
                        <label for="TA2">Reason for Travelling:</label>
                        <span>Required</span>
                        <div>
                            <textarea id="TA2" required></textarea>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                </form>
            </div>
        </div>
        <!-- The following dialog actions can be customized depending on the dialog. -->
        <div data-c-padding="normal">
            <div data-c-grid="gutter middle">
                <div data-c-grid-item="base(1of2)">
                    <button
                        data-c-button="outline(slow)"
                        data-c-radius="rounded"
                        data-c-dialog-action="close"
                        data-c-dialog-id="travel-dialog">
                        Cancel
                    </button>
                </div>
                <div
                    data-c-grid-item="base(1of2)"
                    data-c-alignment="base(right)">
                    <button
                        data-c-button="solid(go)"
                        data-c-radius="rounded"
                        data-c-dialog-action="close"
                        data-c-dialog-id="travel-dialog">
                        Save Travel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>