// My Custom Clone Theme
// Please note that Clone must be included last, after all of your custom variables.

// Clone Theme Variables
// All available theme variables can be found at https://github.com/joshdrink/clone-framework/blob/master/app/scss/core/_defaults.scss

// Include Clone
@import "../../node_modules/clone-framework/app/scss/clone";

[data-clone] {
    // Your custom CSS goes here.
    .hidden {
        display: none;
    }
    .sidebar-wrapper {
        position: relative;
    }
    .sidebar {
        position: sticky;
        top: 0;
        ul {
            list-style: none;
            padding: 0;
        }
        .sidebar-complete {
            span {
                color: $clone-go;
                font-size: 2rem;
                line-height: 1;
                margin: 0 .5rem 0 0;
                vertical-align: middle;
            }
        }
        .sidebar-incomplete {
            span {
                color: $clone-slow;
                font-size: 2rem;
                line-height: 1;
                margin: 0 .5rem 0 0;
                vertical-align: middle;
            }
        }
        .sidebar-error {
            span {
                color: $clone-stop;
                font-size: 2rem;
                line-height: 1;
                margin: 0 .5rem 0 0;
                vertical-align: middle;
            }
        }
    }
    .sidebar-content {
        >div,
        >form {
            margin: 0 auto;
            max-width: $clone-medium-layout;
        }
    }
    h2 {
        &[data-gc-section-status="incomplete"] {
            i {
                color: $clone-slow;
                font-size: 2rem;
                line-height: 1;
                margin: 0 .5rem 0 0;
                vertical-align: middle;
                &:nth-child(1) {
                    display: inline;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    display: none;
                }
            }
        }
        &[data-gc-section-status="error"] {
            i {
                color: $clone-stop;
                font-size: 2rem;
                line-height: 1;
                margin: 0 .5rem 0 0;
                vertical-align: middle;
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    display: inline;
                }
                &:nth-child(3) {
                    display: none;
                }
            }
        }
        &[data-gc-section-status="complete"] {
            i {
                color: $clone-go;
                font-size: 2rem;
                line-height: 1;
                margin: 0 .5rem 0 0;
                vertical-align: middle;
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    display: inline;
                }
            }
        }
    }
}