<div data-c-grid-item="base(1of1)">
    <h2 id="before" data-c-margin="top(3) bottom(1)" data-c-heading="h2" data-c-padding="bottom(1)">
        Before You Begin
    </h2>
    <p data-c-margin="bottom(1)">This tool allows you to complete a security clearance application and allows you to save your progress by downloading a file that contains your information. This is done so that you are in control of your own data and can store it in a location of your preference. In order to continue editing your application, simply use the button below to locate the file on your device and upload it. When you're ready to take a break or you've completed the form, simply use the "Save &amp; Download" button to save a new copy to your device. Keep this file in a safe and secure location.</p>
    <button data-c-button="solid(go)" type="button" data-gc-new-app data-c-radius="rounded">
        Start a New Application
    </button>
    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
        Upload &amp; Continue
    </button>
</div>