<!DOCTYPE html>

<html lang="en">

    <head>

        {# Site Title #}
        <title>Government of Canada: Reliability Demo Form</title>
        
        {# Charset #}
        <meta charset="utf-8" />

        {# Compatibility #}
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge">

        {# Viewport #}
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">

        {# Generic Google Fonts #}
        <link
            href="https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans:400,400i,600,600i,800,800i&amp;subset=latin-ext"
            rel="stylesheet">

        {# Material Icons #}
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

        {# Your CSS #}
        <link 
            async 
            href="$ROOT/css/app.css"
            rel="stylesheet">

        {# Favicons #}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b91d47">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="theme-color" content="#b91d47">

    </head>

    {# Playground's Body #}
    <body data-clone>

        <div data-c-visibility="hidden">
            {# {% include "templates/repeaters/legal-name.twig" %} #}
        </div>

        <div>
            <div data-c-container="large">
                <div data-c-grid="gutter">
                    <div data-c-grid-item="tl(1of4) ds(1of5)" class="sidebar-wrapper">
                        <div class="sidebar" data-c-padding="tb(triple)">
                            <span data-c-font-weight="bold" data-c-font-size="h4">Reliability Form</span>
                            <nav data-c-margin="top(normal)">
                                <ul>
                                    <li class="sidebar-complete"><span>•</span><a href="#consent" title="">Consent &amp; Verification</a></li>
                                    <li class="sidebar-incomplete"><span>•</span><a href="#background" title="">Background Information</a></li>
                                    <li class="sidebar-incomplete"><span>•</span><a href="#residence" title="">Residence</a></li>
                                    <li class="sidebar-incomplete"><span>•</span><a href="#experience" title="">Professional Background</a></li>
                                    <li class="sidebar-incomplete"><span>•</span><a href="#references" title="">Personal References</a></li>
                                    <li class="sidebar-incomplete"><span>•</span><a href="#education" title="">Education &amp; Professional Designations</a></li>
                                    <li class="sidebar-error"><span>•</span><a href="#record" title="">Criminal Record</a></li>
                                    <li class="sidebar-incomplete"><span>•</span><a href="#summary" title="">Signature</a></li>
                                </ul>
                            </nav>
                            <button data-c-margin="top(double)" data-c-button="solid(go)" type="button" data-c-radius="rounded">
                                Save My Progress
                            </button>
                        </div>
                    </div>
                    <div data-c-grid-item="tl(3of4) ds(4of5)" class="sidebar-content">
                        <form data-c-grid="gutter">
                            <div data-c-grid-item="base(1of1)">
                                <p data-c-margin="top(triple)">Welcome to the reliability security clearance application form.</p>
                            </div>
                            {% include "templates/consent.twig" %}
                            {% include "templates/background-info.twig" %}
                            {% include "templates/residence.twig" %}
                            {% include "templates/experience.twig" %}
                            {% include "templates/references.twig" %}
                            {% include "templates/education.twig" %}
                            {% include "templates/records.twig" %}
                            {% include "templates/summary.twig" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div data-c-dialog-overlay></div>

        {% include "templates/dialogs/legal-name.twig" %}

        {# Clone's JavaScript #}
        <script src="$ROOT/js/clone/clone.min.js"></script>

        {# Your JavaScript #}
        <script src="$ROOT/js/app.js"></script>

    </body>

</html>
